*{
    margin: 0;
    padding: 0;
}

.heading{
    background-color: blue;
    color : white;
    height: 100px;
    display: flex;
    align-items: center;


}

.left_heading{
    
    display: flex;
    align-items: center;
    margin-left: 50px;

}


.right_heading{
    margin-left: 70%;
    display: flex;
    align-items: center;
    
}
.right_heading p{
    padding: 8px;
}

.right_heading button{
     background-color: black;
     color : white;
     border: black;
     font-size: 20px;
     

}

.second_heading{
    background-color: rgba(0, 0, 0, 0.842);
    color:aliceblue;
    height:80px;
    display: flex;
    align-items: center;
   
}

.second_heading p{
    margin-left: 50px;
    font-size: 30px;
   
}

.btn {
    padding: 8px 20px;
    margin: 7px 0;
    border: 2px solid white;
    border-radius: 8px;
    background: none;
    color: white;
    cursor: pointer;
}